* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", arial, sans-serif;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    height: 70px;
} 

#logo {
    position: sticky;
    height: 40px;
    width: 120px;
    float: left;
    margin: 1rem 10rem;
}

.right-nav {
    position: relative;
    display: inline-block;
    float: right;
}

li .nav {
    padding: 10px;
}

.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: inline;
    float: left;
    font-weight: bold;
    font-size: 20px;
    background-position: top;
    top: 10px;
    margin-right: 70px;   
}

.tuitt-button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    font-size: 1rem;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 40px;
    position: relative;
    right: 50px;
    bottom: 10px;
}

#bg-image {
    min-height: 50vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: scroll;
    background-color: black; 
}

.front-bg {
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: relative;
    float: right;
    text-align: right;
}

.title {
    position: relative;
    color: white;
    text-align: right;
    font-size: 3em;
    padding-left: 60rem;
    padding-right: 12rem;
    line-height: 4rem;
    letter-spacing: 2px;
    font-family: times;
    top: 10px;
}

.subtitle {
    position: relative;
    color: white;
    text-align: right;
    font-size: 25px;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 75rem;
    padding-right: 12rem;
    line-height: 2rem;
}

.apply-button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    font-size: 1.2rem;
    border-radius: 25px;
    border: none;
    padding: 1rem 4rem;
    margin-left: 75rem;
    margin-right: 12rem;
}

.title-2 {
    padding: 4rem;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.intro-description {
    padding: 4rem 18rem;
    text-align: justify;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

.pre-footer {
    background-color: #f7fbfb;
    background-position: center;
    text-align: center;
}
.title-2 {
    padding: 5rem;
    font-weight: bold;
}

.prefooter-description {
    padding: 1rem 18rem;
    text-align: center;
    font-size: 20px;
}

.book-button {
    color: white;
    font-weight: bold;
    background-color: #336589;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    padding: 1rem 4rem;
    margin: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
}